{% extends "base/basic.html" %}
{% block body_class %}dialog{% endblock %}
{% block main %}
  <div class="row mt-3">
    <div class="col-md-6 offset-md-3">
      <header></header>
      <article>
        <div class="panel {% block panel_class %}panel-default{% endblock %}">
          <div class="panel-heading">
            {% block panel_heading %}
              <h3 class="panel-title {% block title_class %}{% endblock %}">{% block page_title %}{% endblock %}</h3>
            {% endblock %}
          </div>
          <form {% block dialog_form %}class="{% block form_class %}{% endblock %}" id="{% block form_id %}{% endblock %}"
                action="{% block form_action %}{% endblock %}" method="post" role="form"
                enctype="multipart/form-data"{% endblock %}>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
            <section class="panel-body">
              {% block content %}{% endblock %}
              <footer>
                {% block footer %}{% endblock %}
              </footer>
            </section>
          </form>
        </div>
        {% block extra %}{% endblock %}
      </article>
    </div>
  </div>
{% endblock %}
