{% extends 'error_base.html' %}
{% block page_title %}{% trans %}Oops! An error occurred{% endtrans %}{% endblock %}

{% block content %}
    <p>HTTP 500 Internal Server Error</p>
    {% if message %}
        <div class='message'>{{ message }}</div>
    {% endif %}
    <p>{% trans %}We're sorry for the inconvenience. We should get notified of the error and we'll correct it as soon as possible{% endtrans %}</p>
{% endblock %}
{% block footer %}
    <a href="/" class="btn btn-primary">{% trans %}Go to homepage{% endtrans %} </a>
    <a href="mailto:{{ err_email }}?subject={% trans %}Please fix the error.{% endtrans %} {{ message }}&body={{ message }}%20{{ request.url }}" class="btn btn-default">
        {% trans %}Ask for help{% endtrans %}
    </a>
{% endblock %}
