{% extends "base/default.html" %}
{% block page_title %}Privacy Policy{% endblock %}
{% block main %}
    <div class="container">
    <div class="row">
    <div class="col-sm-24">

        <h1>Polityka prywatności</h1>

        <p>Korzystając z tego serwisu, użytkownik akceptuje niniejszą politykę prywatności.</p>

        Polityka prywatności tego serwisu opisuje, jak postępujemy z informacjami osobistymi, które podajesz nam podczas korzystania z serwisu.

        <h2>Dobrowolność podania informacji</h2>

        <p>Wszystkie informacje podawane przez użytkownika są podawane dobrowolnie. Niektóre z tych informacji są niezbędne do świadczenia usług, np. kontaktowy adres email użytkownika, jednak staramy
            się
            ograniczać do minimum zakres informacji niezbędnych, a podanie informacji wykraczających poza zakres niezbędny do świadczenia usług jest opcjonalne.</p>
    </div>
{% endblock %}
