{% extends "email/personal.html" %}
{% block content %}

    <p>{% trans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endtrans %}</p>

    <p>{% trans %}Please go to the following page and choose a new password:{% endtrans %}</p>

    <p>{% block reset_link %}
        <a id="btn-action" href="{{ protocol }}://{{ domain }}{{ url('password_reset_confirm', uidb64=uid, token=token) }}"
           style="text-decoration: none; background: #d92530;color: #fff; display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;touch-action: manipulation;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.428571429;border-radius: 3px;-moz-user-select: -moz-none;-ms-user-select: none;-webkit-user-select: none;user-select: none;">
            {% trans %}Set new password{% endtrans %}
        </a>
    {% endblock %}
    </p>

    <p>{% trans %}Your username, in case you've forgotten:{% endtrans %} {{ user.get_username() }}</p>

{% endblock %}