{% extends "base/dialog.html" %}
{% from "Person/avatar.html" import avatar %}
{% from "Organization/avatar.html" import organization_avatar %}
{% from "bootstrap/forms/horizontal.html" import form_body with context %}
{% block body_class %}dialog password-recovery{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
    {% if form %}
        <p>{% trans %}Please enter your new password twice so we can verify you typed it in correctly.{% endtrans %}</p>
        {{ form_body(form) }}
    {% else %}
        <p>{% trans %}Password reset link is invalid or expired.{% endtrans %}</p>
    {% endif %}
{% endblock %}
{% block footer %}
    {% if form %}
        <button type="submit" class="btn btn-primary">{% trans %}Change my password{% endtrans %}</button>
        <a class="btn btn-default" href="/">{% trans %}Cancel{% endtrans %}</a>
    {% else %}
        <a class="btn btn-primary" href="/">{% trans %}OK{% endtrans %}</a>
    {% endif %}
{% endblock %}
