{% extends "base/dialog.html" %}
{% from "Person/avatar.html" import avatar %}
{% from "Organization/avatar.html" import organization_avatar %}
{% from "bootstrap/forms/horizontal.html" import form_body with context %}

{% block page_title %}{% trans %}Enter new password{% endtrans %}{% endblock %}
{% block content %}
    <p>{% trans %}Please enter your new password twice so we can verify you typed it in correctly.{% endtrans %}</p>
    {{ form_body(form) }}
{% endblock %}
{% block footer %}
    <button type="submit" class="btn btn-primary">{% trans %}Change my password{% endtrans %}</button>
    <a class="btn btn-default" href="/">{% trans %}Cancel{% endtrans %}</a>
{% endblock %}

