{% extends "base/dialog.html" %}
{% from "Person/avatar.html" import avatar %}
{% from "Organization/avatar.html" import organization_avatar %}
{% from "bootstrap/forms/horizontal.html" import form_body with context %}
{% set body_class='dialog password-recovery' %}
{% block body_class %}dialog password-recovery{% endblock %}
{% block page_title %}{% trans %}Password reset{% endtrans %}{% endblock %}
{% block form_action %}{{ url('password_reset') }}{% endblock %}
{% block content %}
    <h3>Forgotten your password?</h3>
    <p>{% trans %}Enter your email address below, and we'll email instructions for setting a new one.{% endtrans %}</p>
    {{ form_body(form) }}
{% endblock %}
{% block footer %}
    <button type="submit" class="btn btn-primary">{% trans %}Reset my password{% endtrans %}</button>
    <a class="btn btn-default" href="/">{% trans %}Cancel{% endtrans %}</a>
{% endblock %}
