{% extends "base/default.html" %}
{% block content %}
  <div class="row mt-5">
    <div class="col-xl-8 offset-xl-2 ">
      <div class="card shadow-lg {% if object.approval == True %}border-success{% elif object.approval == False %}border-danger{% endif %}">
        <div class="card-header">{% trans %}Expenditure details{% endtrans %}
          <a class="btn btn-outline-dark btn-sm float-right" href="{{ url("budget:ApplicationUpdate", object.pk) }}"><i
            class="fa fa-fw fa-pencil"></i></a>
        </div>
        <table class="table table-striped table-hover mb-0">
          <tbody>
          {% for field_name in ['date', 'requester', 'description', 'amount', ] %}
            <tr>
              <th scope="row">{{ object.get_field_name(field_name) }}</th>
              <td>{{ object[field_name] }}</td>
            </tr>
          {% endfor %}
          <tr>
            <th scope="row">{{ object.get_field_name('budget') }}</th>
            <td>
              {% if object.budget %}
                {% if perms.budget.view_budget %}
                  {% if object.amount_available > 0 %}
                    <span class="text-success">{{ object.amount_available }}</span>
                  {% else %}
                    <span class="text-danger">{{ object.amount_available }}</span>
                    <a class="btn btn-warning btn-sm" href="{{ url("budget:ApplicationUpdate", object.pk) }}">{% trans %}Change account or date{% endtrans %}
                  {% endif %}
                {% else %}
                  <i class="far fa-eye-slash"></i>
                {% endif %}
              {% else %}
                  -
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{{ object.get_field_name('account') }}</th>
            <td>
                {% if object.account %}
                  {{ object.account|default("-", True) }}
                  <a class="btn btn-secondary btn-sm float-right" href="{{ url("budget:ApplicationAccount", object.pk) }}">{% trans %}Change account{% endtrans %}
                {% else %}
                  <a class="btn btn-primary btn-sm" href="{{ url("budget:ApplicationAccount", object.pk) }}">{% trans %}Set account{% endtrans %}
                {% endif %}
              </a>

            </td>
          </tr>
          <tbody>
        </table>
      </div>

      {% if object.account or 1 %}
      <div class="card mt-5 mb-5 shadow-lg {% if object.approval == True %}border-success{% elif object.approval == False %}border-danger{% endif %}">
        <div class="card-header">{% trans %}Approvals{% endtrans %}</div>
        <table class="table table-striped mb-0 table-hover">
          {% for kind, name in decision_kinds %}
            {% with decision = object.get_decision(kind) %}
              <tr class="{% if decision.approval == True %}table-success{% elif decision.approval == False %}table-warning{% endif %}">
                <th scope="row">{{ name }}</th>
                <td>
                  {% include "Application/signonff.html" %}
                  {% if decision %}
                    {{ decision.user.get_full_name() or decision.user|default("-", True) }}
                    <div class="ml-4">{{ decision.notes }}</div>
                  {% endif %}
                </td>
              </tr>
            {% endwith %}
          {% endfor %}
          <tbody>
        </table>
      </div>
        {% else %}
        <div class="alert alert-info mt-5 shadow-lg">
          {% trans %}Decision making is disabled until an account is set{% endtrans %}
        </div>
        {% endif %}
    </div>
  </div>
{% endblock %}
