{% extends "base/default.html" %}
{% from "bootstrap/modal.html" import filter_modal with context %}
{% block main %}
  <div class="container-fluid">
    <h1 class="text-center mt-3 mb-4">{% trans %}Expenditures{% endtrans %}</h1>

    {{ filter_modal(title='Filter applications', primary='Search', id='filter-modal') }}

    <ul class="nav nav-pills card-header-pills d-flex flex-row pb-2">
        {% with target=url('budget:ApplicationCreate') %}
          <li role="presentation" class="nav-item">
            <a href="{{ target }}" class="nav-link {% is_active target %}">{% trans %}Create{% endtrans %}</a>
          </li>
        {% endwith %}
        {% with target=url('budget:ApplicationList') %}
          <li role="presentation" class="nav-item">
            <a href="{{ target }}" class="nav-link {% is_active target %}">{% trans %}Wszystkie{% endtrans %}</a>
          </li>
        {% endwith %}
        {% with target=url('budget:ApplicationListUser', user.pk) %}
          <li role="presentation" class="nav-item">
            <a href="{{ target }}" class="nav-link {% is_active target %}">{% trans %}Moje zapotrzebowania{% endtrans %}</a>
          </li>
        {% endwith %}
        {% with target= '?approval=true' %}
          <li role="presentation" class="nav-item">
            <a href="{{ target }}" class="nav-link {% is_active target %}">{% trans %}Approved{% endtrans %}</a>
          </li>
        {% endwith %}
        {% with target=url('budget:ApplicationListApprovals', user.pk) %}
          <li role="presentation" class="nav-item">
            <a href="{{ target }}" class="nav-link {% is_active target %}">{% trans %}To approve{% endtrans %}</a>
          </li>
        {% endwith %}
          <li role="presentation" class="nav-item">
            <button type="button" class="btn btn-secondary mr-3" data-toggle="modal" data-target="#filter-modal">{% trans %}Search{% endtrans %}</button>
          </li>
          <li role="presentation" class="nav-item">
            <form method="GET" action="{{ url('budget:ApplicationDetail2') }}">
              <div class="input-group mb-3">
                <input type="text" maxlength="4" name="pk" class="form-control" placeholder="{% trans %}000{% endtrans %}" style="width: 5em"
                       aria-label="{% trans %}Expenditure no{% endtrans %}" aria-describedby="view-expenditure">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" id="view-expenditure">
                    <i class="fal fa-1x fa-eye"></i>
                  </button>
                </div>
              </div>
            </form>
          </li>
    </ul>
    <div class="card">
      <table class="table table-hover mb-0">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% trans %}Submitted{% endtrans %}</th>
          <th scope="col">{% trans %}Amount{% endtrans %}</th>
          <th scope="col">{% trans %}Requester{% endtrans %}</th>
          <th scope="col">{% trans %}Date{% endtrans %}</th>
          <th scope="col">{% trans %}Manager{% endtrans %}</th>
          <th scope="col">{% trans %}Account{% endtrans %}</th>
          <th scope="col">{% trans %}Approval{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            {% set row_class = loop.cycle('odd', 'even') %}
          <tr class="{{ row_class }}">
            <th scope="row" rowspan="1">{{ item.pk }}</th>
            <td>
              <a href="{{ url("budget:ApplicationDetail", item.pk) }}">
                  {{ item.submitted|datetimeformat("YYYY-MM-dd") }}
              </a>
            </td>
            <td>{{ item.amount }}</td>
            <td>
              <a href="?requester={{ item.requester_id }}">
                {{ item.requester.last_name }} {{ item.requester.first_name.0 }}.
              </a>
            </td>
            <td>{{ item.date|datetimeformat("YYYY-MM-dd") }}</td>
            <td>
                {% if item.manager %}
                  <a href="?manager={{ item.manager_id }}">
                      {{ item.manager.last_name }} {{ item.manager.first_name.0 }}.
                  </a>
                {% endif %}
            </td>
            <td>
                {% if item.account %}
                  <span title="{{ item.account|default("-", True) }}">{{ item.account.full_no }}</span>
                {% else %}
                  -
                {% endif %}
            </td>
            <td>
                {% for kind, name in decision_kinds %}
                    {% with decision = item.get_decision(kind) %}
                  <span title="{% if decision %}{{ decision.user.last_name }} {{ decision.user.first_name}} - {% endif %}{{ name }}">
                    {% with approval = decision.approval %}
                      {% include "Application/approval.html" %}
                    {% endwith %}
                  </span>
                    {% endwith %}
                {% endfor %}
                {% with approval = item.approval %}
                    {% include "Application/approval.html" %}
                {% endwith %}
              <a href="{{ url("budget:ApplicationStatus", item.pk) }}" class="">
                  {% with status = item.status %}
                      {% include "Application/status.html" %}
                  {% endwith %}
              </a>
            </td>
          </tr>
          <tr class="{{ row_class }}">
            <td></td>
            <td colspan="20">{{ item.title }}</td>
          </tr>
            {#
          <tr>
            <td>{{ item.description }}</td>
          </tr>
#}
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="w-100 mt-3">
        {% include "bootstrap/pagination.html" %}
    </div>
  </div>

{% endblock %}
