{% load i18n %}
<footer class="body-footer">
    <div class="container">
      <nav class="bg-dark navbar navbar-expand-sm navbar-dark">
      <ul class="navbar-nav mr-auto bordered">
          <li class="nav-item"><a class="nav-link" href="#">{% trans "Privacy Policy" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="#">{% trans "Contact" %}</a></li>
        </ul>
        <p class="navbar-text mb-0">Janusz Skonieczny Copyright &copy; 2018. All rights reserved</p>
      </nav>
    </div>
</footer>