
{% load i18n static %}
<header class="body-header">
  <div class="container bordered">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Sekretariat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav mt-2 mt-md-0">
            <li>
              <a class="nav-link" href="{% url 'admin:index' %}">
                <i class="fa fa-cog"></i> {% trans "Admin" %}
              </a>
            </li>
        </ul>
      </div>
    </nav>
  </div>
</header>