{% extends "base/layout/body.html" %}
{% load i18n %}
{% block body %}
  {% include "base/layout/header.html" %}
  <main role="main" class="pb-5">
    <div class="container">
      {% include "base/layout/alerts.html" %}
    </div>
    {% block content %}
      <div class="container">
        <div class="jumbotron mb-5 mt-5">
          <h1>Lorem ipsum!</h1>
          <p class="lead">You are looking at a sample text in your website template `templates/base/layout/page.html`</p>
        </div>
      </div>
    {% endblock %}
  </main>
  {% include "base/layout/footer.html" %}
{% endblock %}